#info {
    position: absolute;
    top: 10px;
    width: 100%;
    text-align: right;
    z-index: 100;
    display:block;
    color: #ffffff;
}

canvas{
    position: fixed;
    top: 0;
    left: 0;
}

/* Media Queries*/

/*Tablets [601px -> 1200px]*/
@media only screen and (max-width: 1200px){
    nav ul li {
        display: block;
        margin: 0;
    }
}
/*Big smartphones [426px -> 600px]*/
@media only screen and (max-width: 600px) {
    nav ul li {
        display: block;
        margin: 0;
    }
}
/*Small smartphones [325px -> 425px]*/
@media only screen and (max-width: 425px){
    nav ul li {
        display: block;
        margin: 0;
    }
}